body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    padding: 10px;
    text-align: center;
    border: 1px solid #fff; /* Add a white border around the nav */
    padding-top: 20px;
   
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 50%;
    padding: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#results {
    margin-top: 20px;
    font-weight: bold;
    
}

weight-guide {
    margin-top: 20px;
}

#weight-guide h3 {
    color: #333;
}

#weight-guide p {
    margin: 5px 0;
}